:root {
    --clr-main: #CCB9B9;
    --clr-light: #cbd5e1;
    --clr-dark: #0a0a0a;
    --clr-linear-gradient: #739DDE, #14215D;
    --clr-bg: rgb(59, 56, 56);

    /* flex basis sizing  */

    --size-xxs: 0.625rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}

* {
    margin: 0rem;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    position: relative;
}

html {
    scroll-behavior: smooth;
}

img,
svg {
    display: block;
    user-select: none;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.logo-container img {
    width: 32px;
    margin-left: 0.5rem;
}

.logo-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__link {
    color: black;
}

.header__link:hover {
    color: #CCB9B9;
    text-decoration: underline;
}


.header-container {
    /* border: 8px solid orange; */
    background-color: whitesmoke;
    border-radius: 2px;
    opacity: 0.8;
}

p {
    text-wrap: balance;
}

h2 {
    text-decoration: underline;
    color: whitesmoke;
}

.btn {
    background: linear-gradient(to bottom, #739DDE, #14215D);
    color: aliceblue;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    padding: 0.6em 6em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* font-size: var(--size-lg); */
}

.btn:hover {
    /* font-size: var(--size-lg); */
    box-shadow: 0 2px 10px;
    background: linear-gradient(to top, #739DDE, #14215D);
}



/* xxs screens */
@media (min-width: 320px) {

    .logo-container {
        display: flex;
        gap: 0.2rem;
    }

    .logo-container img {
        width: 16px;
        margin-left: 0.2rem;
    }

    .logo-heading {
        font-size: var(--size-xxs);
    }

    .header-menu {
        font-size: var(--size-xs);
        gap: 0.5rem;
    }

    .prev-page {
        font-size: var(--size-xxs);
    }

}

/* medium screens */
@media (min-width: 768px) {
    .logo-container img {
        width: 24px;
    }

    .logo-heading {
        font-size: var(--size-s);
    }

    .header-menu {
        font-size: var(--size-base);
        gap: 0.5rem;
    }

    .prev-page {
        font-size: var(--size-s);
    }

    .main-title {
        font-size: var(--size-xl);
        margin-top: 1rem;

    }

}

/* l screens */
@media (min-width: 1024px) {
    .logo-container img {
        width: 32px;
    }

    .logo-heading {
        font-size: var(--size-lg);
    }

    .header-menu {
        font-size: var(--size-lg);
        gap: 1rem;
    }

    .prev-page {
        font-size: var(--size-base);
    }

    .main-title {
        font-size: var(--size-xl);
        margin-top: 1rem;

    }
}

/* xl screens */
@media (min-width: 1440px) {

    .logo-heading {
        font-size: var(--size-xl);
    }

    .header-menu {
        font-size: var(--size-xl);

    }

    .prev-page {
        font-size: var(--size-lg);
    }

}



/* xxs screens */
/* @media (min-width: 320px) {} */

/* small screens */
/* @media (min-width: 425px) {} */

/* medium screens */
/* @media (min-width: 768px) {} */

/* l screens */
/* @media (min-width: 1024px) {} */

/* xl screens */
/* @media (min-width: 1440px) {} */

/* 2xl screens
@media (min-width: 1536px) {} */